
<div class = "container">
<h3>Best Sellers</h3>

<h2>Fiction</h2>
    <table class="table table-striped" class="space-10">
        <tr ng-repeat="b in booksCtrl.books.lists[2].books">
            <td>
                <img ng-src="{{b.book_image}}" height="200px">
            </td>
            <td>
                <h3 ng-click="">{{ b.title }}</h3> <h4>by {{ b.author }}</h4>
                <br>
                <p>{{ b.description }}</p>
            </td>
        </tr>
    </table>

</div>
<!-- <tr ng-repeat="l in booksCtrl.books.lists">
        <table class="table table-striped" class="space-10">
            <tr ng-repeat = "b in l">
                <td><img ng-src="{{b.book_image}}" height="200px"></td>
                <td><h3 ng-click="">{{ b.title }}</h3> <h4>by {{ b.author }}</h4>
                    <br><p>{{ b.description }}</p></td>
            </tr>
        </table>
    </tr> -->
